@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

::selection {
  background-color: rgba(59, 130, 246, 0.2);
  color: white;
}

body {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-attachment: fixed;
}